* {
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #faf6dc;
}

a{
    text-decoration: none;
    color: white;
}

main {
    min-height: 82.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}





.insert-form{
    background-color: #897853;
    width: 45%;
    height: 50%;
    margin-top: 5%;
    padding-top: 2%;
    margin-bottom: 5%;
    text-align: center;
}

.insert-form .insert-header{
    color: white;
    font-size: 20px;
    padding-bottom: 4%;
}

.insert-form #ins{
    text-decoration: underline;
    color:#2c1e09; 
    font-size: 25px;
    font-weight: 700;
}

.insert-form .insert-content{
    padding-top: 10%;
}

.insert-form input,
.insert-form textarea,
.insert-form select{
    border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
    color: white;
    width: 70%;
    margin-bottom: 5%;
    outline: none;
}

.insert-form option{
    background-color: #2c1e09d7;
}

.insert-form #insert-submit{
    border:none;
	padding:13px 20px;
	border-radius:25px;
	background:#2c1e09;
    color: white;
    width: 50%;
    margin-bottom: 5%;
    cursor: pointer;
}

.insert-form input::placeholder,
.insert-form textarea::placeholder,
.insert-form select {
    color: rgba(255, 255, 255, 0.596);
}

.final-form p{
    padding-bottom: 3%;
    color: rgb(161, 0, 0);
}
 


 /* Footer */

footer {
    background-color: #383838;
    color: #CBCDCB;
    display: flex;
    flex-direction: column;
    height: 60px;
}

footer .copyright{
    text-align: center;
    font-size: 85%;
    padding: 1%;
}